<h3>This program will scan for vacant members</h3>
<div class="well">
<form>
<select class="form-control"><option>Emerald</option></select>
<input  type="checkbox"> Hide inactives</input>
</form>
</div>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
   {{progress}}%
  </div>
</div>

<table class="table">
  <tbody ng-repeat="k in kandidates">
  <tr>
      <td>{{k.name}}</td>
      <td>{{k.online}}</td>
      <td>{{k.id}}</td>
      <td>BR{{k.br}}</td>
  </tr>
</tbody>
<table>