<h3>This program will scan for vacant members</h3>
<div class="well">
<form>
<select class="form-control"><option>Emerald</option></select>
<input  type="checkbox"> Hide inactives</input>
</form>
<button class="btn btn-warning" ng-click="resetCache()">Reset cache</button>

<button class="btn btn-success" ng-click="scan()">Scan</button>
<button class="btn btn-success" ng-click="scanAsync()">Scan Async</button>
<button class="btn btn-success" ng-click="scanInBulk()">Bulk Scan</button>
</div>




<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{getProgress()}}%;">
   {{getProgress()}}%
  </div>
  <p> Status: {{statusMessage}}</p>
</div>

<table class="table">
  <tbody ng-repeat="k in kandidates| orderBy : '-online'">
  <tr>
      <td>{{k.name}}</td>
      <td>
        <status>{{getOnlineText()}}</status>
        <td><a ng-href="https://www.planetside2.com/players/#!/{{k.id}}" target="_blank">Planetside2/players</a></td>
      </td>
      <td>BR{{k.br}}</td>
  </tr>
</tbody>
<table>